.news {
  width: 1110px;
  margin: 0 auto;
}

/*Specification*/
body {
	padding: 0;
	margin: 0;
	/* font-family: ; */
	font-weight: 400;	
	font-size: 25px;
	color:  #333D51;;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 400;	
}

h2 {
  font-size: 25px;
  font-weight: 400;	
}

p {
	padding: 0;
	margin: 0;
}

a {
  color: #333D51;
	text-decoration: none;
}

li {
	text-decoration: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
