body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Proxima Nova','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNovaRegular-webfont.woff");
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  padding: 90px 0 90px;
}

.section__title {
  margin-bottom: 75px;
  line-height: 55px;
  &_contacts {
    color:#004FEC;
    margin-bottom: 50px;
  }
}


.nav-active {
  color:#004FEC;
}

.newsList {
  display: flex;
  flex-wrap: wrap;
}

.newsItem {
  width: 350px;
  height: 290px;
  margin: 0 30px 30px 0;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__block {
    padding: 0 25px;
    border-left: 2px solid  #004FEC;
    &:hover{
      color: #FFF;
      background-color: #004FEC;
    }
    &_contacts{
      width: 300px;
      margin-bottom: 25px;
    }
  }
  &__title {
    max-width: 300px;
    word-wrap: break-word;
  }
  &__info {
    padding: 0 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__source {
    font-size: 20px;
    opacity: 0.5;
  }
  &__date {
    &__num {
      font-size: 30px;
    }
    &__month {
      font-size: 20px;
      opacity: 0.5;
      margin-left: 7px;
    }
  }
}

.newsItem:nth-child(3n) {
  margin-right: 0;
}

.newsItem:last-child {
  margin-bottom: 60px;
}

.hover-link {
  display: inline-block;
  border-bottom: 2px solid white;
}

.hover-link:hover{
  border-bottom: 2px solid #004FEC;
}

// Header

.header {
  padding: 45px 0 45px;
}

.nav {
  font-size: 18px;
  align-items: center;
  display: flex;
  justify-content:space-between;
  &__menu {
    display: flex;
  }
  &__logo {
    font-size: 25px;
    font-weight: 700;
  }
  &__item {
    margin-left: 35px;
  }
}

// Footer

.footer {
  padding: 45px 0 45px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  &__title {
    font-weight: 700;
  }
  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.62px;
    &_right {
      text-align: right;
    }
  }
  &__lable {
    font-size: 15px;
  }
}


// SingleNews

.singleNews {
  display: flex;
  justify-content: space-between;
  &__block-left{
    max-width: 350px;
    & h1 {
      margin-bottom: 30px;
      line-height: 73px;
    }
  }
  &__block-right{
    max-width: 730px;
    word-wrap: break-word;
    & img {
      max-width: 100%;
      margin-bottom: 60px;
    }
  }
}

.newsItem__date_single {
  margin-top: 30px;
}


// Contacts

.contacts {
  display: flex;
  justify-content: space-between;
  &-info{
    width: 50%;
    &__skills{
      padding-top: 50px;
    }
    &__addit{
      font-size: 20px;
      &:not(:last-child){
        margin-bottom: 25px;
      } 
      &_opacity{
        opacity: 0.5;
      }
      &_color{
        color: #004FEC;
      }
    }
  }
  &-foto__img{
    width: 540px;
    height: 340px;
    background-color: black;
  }
}

